:root {
  background-color: #f8fafc;
}

#root {
  width: 100%; 
  max-width: 1280px;
  margin: 0 auto;
  
  padding-top: calc(env(safe-area-inset-top) + 1rem);
  padding-bottom: calc(env(safe-area-inset-bottom) + 1rem);
  
  padding-left: 1rem;
  padding-right: 1rem;
  
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}